<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--Declaracion de variables de entorno para la conexion a la DB-->
	<appSettings>
		<add key="SERVER" value="localhost"/>
		<add key="DATABASE" value="dbedificiof"/>
		<add key="USER" value="root"/>
		<add key="PASSWORD" value=""/>
	</appSettings>
</configuration>